<div class="contact-list mt-3">
  <h2>Contact List</h2>
  <div class="row">
    @for (contact of contactArr(); track contact.id) {
    <div class="col-md-4 my-2">
      <div class="card text-bg-light p-3">
        <h4>{{ contact.firstName }} {{ contact.lastName }}</h4>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <a [routerLink]="['/edit', contact.id]" class="btn btn-success mt-2"
          >Edit Contact</a
        >
        <button class="btn btn-danger">Delete Contact</button>
      </div>
    </div>
    }
  </div>
</div>
